.header-white-transparent-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-around;
  max-width: 450px;
}
.header-white-transparent-navlink {
  color: var(--dl-color-gray-black);
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.header-white-transparent-navlink1 {
  color: var(--dl-color-gray-black);
  margin-left: 0;
  text-decoration: none;
}
.header-white-transparent-navlink2 {
  display: contents;
}
.header-white-transparent-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
  text-decoration: none;
}
.header-white-transparent-navlink3 {
  color: #000000;
  margin-right: 0;
  text-decoration: none;
}
.header-white-transparent-navlink4 {
  color: var(--dl-color-gray-black);
  margin-right: 0;
  text-decoration: none;
}




.social-icons-social-icons {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: 300px;
  align-items: center;
  justify-content: space-around;
}
.social-icons-link {
  display: contents;
}
.social-icons-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.social-icons-link1 {
  display: contents;
}
.social-icons-icon02 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.social-icons-link2 {
  display: contents;
}
.social-icons-icon06 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.social-icons-link3 {
  display: contents;
}
.social-icons-icon08 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}


@media(max-width: 767px) {
  .social-icons-social-icons {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .social-icons-social-icons {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

.footerwith-social-icon-transparent-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.footerwith-social-icon-transparent-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.footerwith-social-icon-transparent-navlink {
  display: contents;
}
.footerwith-social-icon-transparent-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
  text-decoration: none;
}
.footerwith-social-icon-transparent-text {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  margin-top: var(--dl-space-space-unit);
  letter-spacing: 0.2rem;
}



.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-container1 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.contact-text {
  font-size: 3rem;
  max-width: 450px;
}
.contact-text1 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-textinput {
  font-size: 14px;
  transition: 0.3s;
  border-color: #d4d5d6;
  border-width: 1px;
  padding-left: 0px;
  border-bottom: 1px solid #f7f8f9;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-textinput:focus {
  outline: none;
  border-bottom: 1px solid #676869;
}
.contact-textinput:active {
  outline: none;
}
.contact-textinput1 {
  font-size: 14px;
  transition: 0.3s;
  border-color: #d4d5d6;
  border-width: 1px;
  padding-left: 0px;
  border-bottom: 1px solid #f7f8f9;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-textinput1:focus {
  outline: none;
  border-bottom: 1px solid #676869;
}
.contact-textinput1:active {
  outline: none;
}
.contact-textinput2 {
  font-size: 14px;
  transition: 0.3s;
  border-color: #d4d5d6;
  border-width: 1px;
  padding-left: 0px;
  border-bottom: 1px solid #f7f8f9;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-textinput2:focus {
  outline: none;
  border-bottom: 1px solid #676869;
}
.contact-textinput2:active {
  outline: none;
}
.contact-textarea {
  border: 0;
  padding: 0;
  font-size: 14px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  min-height: 200px;
  transition: 0.3s;
  border-color: #d4d5d6;
  border-bottom: 1px solid #d4d5d6;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-textarea:focus {
  outline: none;
  border-bottom: 1px solid #676869;
}
.contact-textarea:active {
  outline: none;
  border-bottom: 1px solid #676869;
}
.contact-button {
  display: flex;
  max-width: 150px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 100px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.contact-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.contact-text4 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
}
.contact-icon {
  width: 24px;
  height: 24px;
}
.contact-image {
  width: 400px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .contact-hero {
    flex-direction: column;
  }
  .contact-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .contact-text {
    text-align: center;
  }
  .contact-text1 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .contact-textinput {
    width: 100%;
    max-width: 450px;
  }
  .contact-textinput1 {
    width: 100%;
    max-width: 450px;
  }
  .contact-textinput2 {
    width: 100%;
    max-width: 450px;
  }
  .contact-textarea {
    width: 100%;
    max-width: 450px;
  }
}
@media(max-width: 767px) {
  .contact-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .contact-image {
    width: 80%;
    display: none;
  }
}
@media(max-width: 479px) {
  .contact-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
