<div>
  <link href="./header-black.css" rel="stylesheet" />
  <div class="header black-container">
    <a href="index.html" class="header black-navlink"><span>Home</span></a>
    <a href="about.html" class="header black-navlink1"><span>About</span></a>
    <a href="index.html" class="header black-navlink2">
      <img
        src="public/playground_assets/svgviewer-png-output-200h.png"
        class="header black-image"
      />
    </a>
    <a href="contact.html" class="header black-navlink3">
      <span>Contact</span>
    </a>
    <a href="index.html" class="header black-navlink4"><span>Resume</span></a>
  </div>
</div>
