<div>
  <link href="./header-white-transparent.css" rel="stylesheet" />
  <div class="header white transparent-container">
    <a href="index.html" class="header white transparent-navlink">
      <span>Home</span>
    </a>
    <a href="about.html" class="header white transparent-navlink1">
      <span>About</span>
    </a>
    <a href="index.html" class="header white transparent-navlink2">
      <img
        src="public/playground_assets/svgviewer-png-output%20blac-200h.png"
        class="header white transparent-image"
      />
    </a>
    <a href="contact.html" class="header white transparent-navlink3">
      <span>Contact</span>
    </a>
    <a href="index.html" class="header white transparent-navlink4">
      <span>Resume</span>
    </a>
  </div>
</div>
