.header\ black-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #000000;
}
.header\ black-navlink {
  color: #ffffff;
  margin-top: 0px;
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 0px;
  text-decoration: none;
}
.header\ black-navlink1 {
  color: #ffffff;
  margin-left: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.header\ black-navlink2 {
  display: contents;
}
.header\ black-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
  text-decoration: none;
}
.header\ black-navlink3 {
  color: #ffffff;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: 0;
  text-decoration: none;
}
.header\ black-navlink4 {
  color: #ffffff;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: 0;
  text-decoration: none;
}

