.social-icons-social-icons {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: 300px;
  align-items: center;
  justify-content: space-around;
}
.social-icons-link {
  display: contents;
}
.social-icons-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.social-icons-link1 {
  display: contents;
}
.social-icons-icon02 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.social-icons-link2 {
  display: contents;
}
.social-icons-icon06 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.social-icons-link3 {
  display: contents;
}
.social-icons-icon08 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}


@media(max-width: 767px) {
  .social-icons-social-icons {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .social-icons-social-icons {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

.footer\ with\ social\ icon\ transparent-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.footer\ with\ social\ icon\ transparent-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.footer\ with\ social\ icon\ transparent-navlink {
  display: contents;
}
.footer\ with\ social\ icon\ transparent-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
  text-decoration: none;
}
.footer\ with\ social\ icon\ transparent-text {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  margin-top: var(--dl-space-space-unit);
  letter-spacing: 0.2rem;
}


