.footer\ black-container {
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
  background-color: #000000;
}
.footer\ black-navlink {
  display: contents;
}
.footer\ black-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
  text-decoration: none;
}
.footer\ black-text {
  color: #ffffff;
  font-size: 12px;
  margin-top: var(--dl-space-space-unit);
  letter-spacing: 0.2rem;
}
